@charset "UTF-8";
@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    background-color: rgb(171, 221, 105);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient( #5aee64, #1b6e20);
    margin: -10px 1px 1px 1px ;
    padding: 10px;
}

h1#titulo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    font-family: 'idroid', monospace;
}

h2 {
    background-image: linear-gradient( to right, #29bd29cc, white) ;
}

p#inicial {
    text-align: center;
}

a {
    margin: 10px;
    text-decoration: unset;
    color: white;
}

a:hover{
    background-color: #043804;
    padding: 10px;
}

main {
    background-color: white;
    padding: 10px;
}

p {
    text-align: justify;
}