@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonteprincipal: 'sriracha', cursive;
}

header {
    background-color: black;
    color:white;
    text-align: center;
    padding: 20px;
    margin: -10px -10px -10px -10px;
    height: 150px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}

header > h1 {
font-size: 45px;
font-weight: bold;
font-family: 'Passion One', cursive;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
}

header > p > a {
    color: white;
    text-decoration: none;
    font-weight: bold; 
}

header > p > a:hover {
    text-decoration: underline;
}

main > p {
    font-family: var(--fonteprincipal);
}

main > div > p {
    background-color: #0000002f;
    margin-right: 735px;
    
}

main > div#img1 {
    padding-top: 10px;
    width: 100%;
    height: 300px;
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    font-family: var(--fonteprincipal);
}

main > div#img1 > p {
    color: white;
}

main > div#img2 {
    padding-top: 10px;
    background-image: url(imagens/background002.jpg);
    width: 100%;
    height: 300px;
    background-position: right center;
    background-attachment: fixed;
    font-family: var(--fonteprincipal);
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
}

footer > p > a {
    color: white;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
}